<footer class="page-footer">
    <div class="container">
        <div class="page-footer__top-row">
            <nav class="page-footer__nav">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Команда
                            <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Календарь
                            <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Медиа
                            <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Новости
                            <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Контакты
                            <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                <use xlink:href="#long-arrow-right"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
            <a href="#" class="page-footer__shop-link">
                Магазин мерча
                <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                    <use xlink:href="#long-arrow-right"></use>
                </svg>
            </a>
            <a href="#" class="page-footer__chemistry-link">
                Автохимия CR
                <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                    <use xlink:href="#long-arrow-right"></use>
                </svg>
            </a>
        </div>
        <div class="page-footer__bottom-row">
            <div class="page-footer__copyright">
                © 2022 ООО «ЭРЛАЙН»
            </div>
            <a href="#" class="page-footer__policy-link">
                Политика конфиденциальности
            </a>
            <div class="page-footer__social">
                <h3 class="page-footer__social-heading">
                    Мы в соцсетях
                </h3>
                <ul class="page-footer__social-list">
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <span class="page-footer__social-link-text">
                                Instagram
                            </span>
                            <img src="img/instagram.svg" alt="" class="page-footer__social-logo">
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <span class="page-footer__social-link-text">
                                Vkontakte
                            </span>
                            <img src="img/vk.svg" alt="" class="page-footer__social-logo">
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <span class="page-footer__social-link-text">
                                Youtube
                            </span>
                            <img src="img/youtube.svg" alt="" class="page-footer__social-logo">
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <span class="page-footer__social-link-text">
                                Facebook
                            </span>
                            <img src="img/fb.svg" alt="" class="page-footer__social-logo">
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <span class="page-footer__social-link-text">
                                DRIVE2
                            </span>
                            <img src="img/drive.svg" alt="" class="page-footer__social-logo">
                        </a>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</footer>