<header class="page-header">
    <div class="page-header__row">
        <a href="#" class="page-header__logo">
            <img src="img/logo.svg" alt="" class="page-header__logo-image">
        </a>
        <div class="page-header__menu">



            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Команда
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Календарь
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Медиа
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Новости
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <a href="#" class="page-header__shop-link">
                Магазин мерча
            </a>
            <div class="page-header__languages">
                <div class="page-header__languages-current">
                    Ru
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-down">
                        <use xlink:href="#arrow-down"></use>
                    </svg>
                </div>
                <div class="page-header__languages-dropdown">
                    <div class="page-header__languages-dropdown-inner">
                        <a href="#" class="page-header__languages-dropdown-link active">
                            Ru
                        </a>
                        <a href="#" class="page-header__languages-dropdown-link">
                            En
                        </a>
                    </div>
                </div>
            </div>
            <a href="#" class="page-header__chemistry">
                Автохимия CR
            </a>
        </div>
        <button class="page-header__burger">
            <span>
                

            </span>
            <span>
                

            </span>
        </button>
    </div>
</header>