{{#extend "layout"}}
{{#content "main"}}



<section class="autopark">
    <img src="img/autopark-rainbow.png" alt="" class="autopark__bg">
    <div class="container">
        <div class="breadcrumbs autopark__breadcrumbs">
            <a href="#">
                Команда
            </a>
            <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                <use xlink:href="#breadcrumbs-arrow"></use>
            </svg>
            <a href="#">
                Автопарк
            </a>
        </div>
        <h1 class="autopark__heading">
            Автопарк Carville Racing<br>
            Drift Team
        </h1>
        <ul class="autopark__list">
            <li class="autopark__list-item">
                <a href="#" class="autopark__card">
                    <img src="img/autopark/cars/car-1-large.jpg" alt="" class="autopark__card-large-car">
                    <div class="autopark__card-content">


                        <h3 class="autopark__card-title">
                            Toyota GR Supra
                            <span>
                                Groza
                            </span>
                        </h3>
                        <div class="autopark__card-engine-specs">
                            <div class="autopark__card-engine-specs-title-block">
                                <div class="autopark__card-engine-specs-model">
                                    2JZ-GTE
                                </div>
                                <div class="autopark__card-engine-specs-title">
                                    двигатель
                                </div>

                            </div>
                            <ul class="autopark__card-engine-specs-list">
                                <li class="autopark__card-engine-specs-list-item">
                                    <div class="autopark__card-engine-specs-card">
                                        <div class="autopark__card-engine-specs-card-units">
                                            л
                                        </div>
                                        <div class="autopark__card-engine-specs-card-amount">
                                            <img src="img/gear.svg" alt=""
                                                class="autopark__card-engine-specs-card-amount-icon">
                                            3,4
                                        </div>
                                        <div class="autopark__card-engine-specs-card-desc">
                                            объём
                                        </div>
                                    </div>
                                </li>
                                <li class="autopark__card-engine-specs-list-item">
                                    <div class="autopark__card-engine-specs-card">
                                        <div class="autopark__card-engine-specs-card-units">
                                            л.с.
                                        </div>
                                        <div class="autopark__card-engine-specs-card-amount">
                                            <img src="img/lightning.svg" alt=""
                                                class="autopark__card-engine-specs-card-amount-icon">
                                            1013
                                        </div>
                                        <div class="autopark__card-engine-specs-card-desc">
                                            мощность
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ul class="autopark__card-specs-list">
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Samsonas Motorsport
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Секвентальная коробка передач
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Spec
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Сцепление
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Winters Perfomance
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Редуктор
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        HGK Motorsport
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Кузов
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Wilwood
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Тормозная система
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Wisefab
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Спортивная подвеска
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Zestino
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Шины
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="autopark__card-pilot">

                            <div class="autopark__card-pilot-photo-container">
                                <img src="img/autopark/pilots/pilot-1.jpg" alt="" class="autopark__card-pilot-photo">
                            </div>
                            <div class="autopark__card-pilot-name">
                                Никита Шиков
                            </div>
                        </div>
                        <img src="img/autopark/cars/car-1-small.png" alt="" class="autopark__card-small-car">
                    </div>


                </a>
            </li>
            <li class="autopark__list-item">
                <a href="#" class="autopark__card">
                    <img src="img/autopark/cars/car-2-large.jpg" alt="" class="autopark__card-large-car">
                    <div class="autopark__card-content">


                        <h3 class="autopark__card-title">
                            BMW E92
                            <span>
                                Eurofighter
                            </span>
                        </h3>
                        <div class="autopark__card-engine-specs">
                            <div class="autopark__card-engine-specs-title-block">
                                <div class="autopark__card-engine-specs-model">
                                    LS
                                </div>
                                <div class="autopark__card-engine-specs-title">
                                    двигатель
                                </div>

                            </div>
                            <ul class="autopark__card-engine-specs-list">
                                <li class="autopark__card-engine-specs-list-item">
                                    <div class="autopark__card-engine-specs-card">
                                        <div class="autopark__card-engine-specs-card-units">
                                            л
                                        </div>
                                        <div class="autopark__card-engine-specs-card-amount">
                                            <img src="img/gear.svg" alt=""
                                                class="autopark__card-engine-specs-card-amount-icon">
                                            7,2
                                        </div>
                                        <div class="autopark__card-engine-specs-card-desc">
                                            объём
                                        </div>
                                    </div>
                                </li>
                                <li class="autopark__card-engine-specs-list-item">
                                    <div class="autopark__card-engine-specs-card">
                                        <div class="autopark__card-engine-specs-card-units">
                                            л.с.
                                        </div>
                                        <div class="autopark__card-engine-specs-card-amount">
                                            <img src="img/lightning.svg" alt=""
                                                class="autopark__card-engine-specs-card-amount-icon">
                                            800
                                        </div>
                                        <div class="autopark__card-engine-specs-card-desc">
                                            мощность
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ul class="autopark__card-specs-list">
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Samsonas Motorsport
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Секвентальная коробка передач
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Spec
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Сцепление
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Winters Perfomance
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Редуктор
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        HGK Motorsport
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Кузов
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Wilwood
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Тормозная система
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Wisefab
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Спортивная подвеска
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Zestino
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Шины
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="autopark__card-pilot">

                            <div class="autopark__card-pilot-photo-container">
                                <img src="img/autopark/pilots/pilot-2.jpg" alt="" class="autopark__card-pilot-photo">
                            </div>
                            <div class="autopark__card-pilot-name">
                                Николай Горковенко
                            </div>
                        </div>
                        <img src="img/autopark/cars/car-2-small.png" alt="" class="autopark__card-small-car">
                    </div>


                </a>
            </li>
            <li class="autopark__list-item">
                <a href="#" class="autopark__card">
                    <img src="img/autopark/cars/car-3-large.jpg" alt="" class="autopark__card-large-car">
                    <div class="autopark__card-content">


                        <h3 class="autopark__card-title">
                            BMW F22
                            <span>
                                Eurofighter
                            </span>
                        </h3>
                        <div class="autopark__card-engine-specs">
                            <div class="autopark__card-engine-specs-title-block">
                                <div class="autopark__card-engine-specs-model">
                                    LS
                                </div>
                                <div class="autopark__card-engine-specs-title">
                                    двигатель
                                </div>

                            </div>
                            <ul class="autopark__card-engine-specs-list">
                                <li class="autopark__card-engine-specs-list-item">
                                    <div class="autopark__card-engine-specs-card">
                                        <div class="autopark__card-engine-specs-card-units">
                                            л
                                        </div>
                                        <div class="autopark__card-engine-specs-card-amount">
                                            <img src="img/gear.svg" alt=""
                                                class="autopark__card-engine-specs-card-amount-icon">
                                            7,2
                                        </div>
                                        <div class="autopark__card-engine-specs-card-desc">
                                            объём
                                        </div>
                                    </div>
                                </li>
                                <li class="autopark__card-engine-specs-list-item">
                                    <div class="autopark__card-engine-specs-card">
                                        <div class="autopark__card-engine-specs-card-units">
                                            л.с.
                                        </div>
                                        <div class="autopark__card-engine-specs-card-amount">
                                            <img src="img/lightning.svg" alt=""
                                                class="autopark__card-engine-specs-card-amount-icon">
                                            800
                                        </div>
                                        <div class="autopark__card-engine-specs-card-desc">
                                            мощность
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ul class="autopark__card-specs-list">
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Samsonas Motorsport
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Секвентальная коробка передач
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Spec
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Сцепление
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Winters Perfomance
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Редуктор
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        HGK Motorsport
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Кузов
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Wilwood
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Тормозная система
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Wisefab
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Спортивная подвеска
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Zestino
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Шины
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="autopark__card-pilot">

                            <div class="autopark__card-pilot-photo-container">
                                <img src="img/autopark/pilots/pilot-3.jpg" alt="" class="autopark__card-pilot-photo">
                            </div>
                            <div class="autopark__card-pilot-name">
                                Антон Клямко
                            </div>
                        </div>
                        <img src="img/autopark/cars/car-3-small.png" alt="" class="autopark__card-small-car">
                    </div>


                </a>
            </li>
            <li class="autopark__list-item">
                <a href="#" class="autopark__card">
                    <img src="img/autopark/cars/car-4-large.jpg" alt="" class="autopark__card-large-car">
                    <div class="autopark__card-content">


                        <h3 class="autopark__card-title">
                            BMW F22
                            <span>
                                Eurofighter
                            </span>
                        </h3>
                        <div class="autopark__card-engine-specs">
                            <div class="autopark__card-engine-specs-title-block">
                                <div class="autopark__card-engine-specs-model">
                                    LS
                                </div>
                                <div class="autopark__card-engine-specs-title">
                                    двигатель
                                </div>

                            </div>
                            <ul class="autopark__card-engine-specs-list">
                                <li class="autopark__card-engine-specs-list-item">
                                    <div class="autopark__card-engine-specs-card">
                                        <div class="autopark__card-engine-specs-card-units">
                                            л
                                        </div>
                                        <div class="autopark__card-engine-specs-card-amount">
                                            <img src="img/gear.svg" alt=""
                                                class="autopark__card-engine-specs-card-amount-icon">
                                            7,2
                                        </div>
                                        <div class="autopark__card-engine-specs-card-desc">
                                            объём
                                        </div>
                                    </div>
                                </li>
                                <li class="autopark__card-engine-specs-list-item">
                                    <div class="autopark__card-engine-specs-card">
                                        <div class="autopark__card-engine-specs-card-units">
                                            л.с.
                                        </div>
                                        <div class="autopark__card-engine-specs-card-amount">
                                            <img src="img/lightning.svg" alt=""
                                                class="autopark__card-engine-specs-card-amount-icon">
                                            800
                                        </div>
                                        <div class="autopark__card-engine-specs-card-desc">
                                            мощность
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ul class="autopark__card-specs-list">
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Samsonas Motorsport
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Секвентальная коробка передач
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Spec
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Сцепление
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Winters Perfomance
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Редуктор
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        HGK Motorsport
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Кузов
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Wilwood
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Тормозная система
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Wisefab
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Спортивная подвеска
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Zestino
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Шины
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="autopark__card-pilot">

                            <div class="autopark__card-pilot-photo-container">
                                <img src="img/autopark/pilots/pilot-4.jpg" alt="" class="autopark__card-pilot-photo">
                            </div>
                            <div class="autopark__card-pilot-name">
                                Иван Пальмин
                            </div>
                        </div>
                        <img src="img/autopark/cars/car-4-small.png" alt="" class="autopark__card-small-car">
                    </div>


                </a>
            </li>
            <li class="autopark__list-item">
                <a href="#" class="autopark__card">
                    <img src="img/autopark/cars/car-5-large.jpg" alt="" class="autopark__card-large-car">
                    <div class="autopark__card-content">


                        <h3 class="autopark__card-title">
                            BMW F22
                            <span>
                                Eurofighter
                            </span>
                        </h3>
                        <div class="autopark__card-engine-specs">
                            <div class="autopark__card-engine-specs-title-block">
                                <div class="autopark__card-engine-specs-model">
                                    LS
                                </div>
                                <div class="autopark__card-engine-specs-title">
                                    двигатель
                                </div>

                            </div>
                            <ul class="autopark__card-engine-specs-list">
                                <li class="autopark__card-engine-specs-list-item">
                                    <div class="autopark__card-engine-specs-card">
                                        <div class="autopark__card-engine-specs-card-units">
                                            л
                                        </div>
                                        <div class="autopark__card-engine-specs-card-amount">
                                            <img src="img/gear.svg" alt=""
                                                class="autopark__card-engine-specs-card-amount-icon">
                                            7,2
                                        </div>
                                        <div class="autopark__card-engine-specs-card-desc">
                                            объём
                                        </div>
                                    </div>
                                </li>
                                <li class="autopark__card-engine-specs-list-item">
                                    <div class="autopark__card-engine-specs-card">
                                        <div class="autopark__card-engine-specs-card-units">
                                            л.с.
                                        </div>
                                        <div class="autopark__card-engine-specs-card-amount">
                                            <img src="img/lightning.svg" alt=""
                                                class="autopark__card-engine-specs-card-amount-icon">
                                            800
                                        </div>
                                        <div class="autopark__card-engine-specs-card-desc">
                                            мощность
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ul class="autopark__card-specs-list">
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Samsonas Motorsport
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Секвентальная коробка передач
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Spec
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Сцепление
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Winters Perfomance
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Редуктор
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        HGK Motorsport
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Кузов
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Wilwood
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Тормозная система
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Wisefab
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Спортивная подвеска
                                    </div>
                                </div>
                            </li>
                            <li class="autopark__card-specs-list-item">
                                <div class="autopark__card-specs-card">
                                    <div class="autopark__card-specs-card-key">
                                        Zestino
                                    </div>
                                    <div class="autopark__card-specs-card-value">
                                        Шины
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="autopark__card-pilot">

                            <div class="autopark__card-pilot-photo-container">
                                <img src="img/autopark/pilots/pilot-5.jpg" alt="" class="autopark__card-pilot-photo">
                            </div>
                            <div class="autopark__card-pilot-name">
                                Иван Пальмин
                            </div>
                        </div>
                        <img src="img/autopark/cars/car-5-small.png" alt="" class="autopark__card-small-car">
                    </div>


                </a>
            </li>
        </ul>
    </div>
</section>

<section class="partners">


    <picture>
        <source srcset="img/partners-mobile.svg" media="(max-width: 640px)">
        <img src="img/footer-bg.svg" alt="MDN" class="partners__bg">
    </picture>
    <div class="container">
        <h2 class="partners__heading">
            Партнёры
        </h2>
        <ul class="partners__list">
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/startvolt.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Генераторы, стартеры
                        и другая автоэлектрика
                    </h4>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/airline.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Автомобильные
                        аксессуары
                    </h4>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/trialli.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Автокомпоненты
                        премиум-класса
                    </h4>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/luzar.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Радиаторы и детали
                        систем охлаждения
                    </h4>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/cr.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Автохимия
                        и технические жидкости
                    </h4>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/dvizhok.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Автомобильный
                        журнал
                    </h4>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/shonx.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Поставки
                        гоночной экипировки
                    </h4>
                </a>
            </li>
        </ul>
    </div>
</section>


{{/content}}
{{/extend}}