{{#extend "layout"}}
{{#content "main"}}

<section class="article">
    <img src="img/article-rainbow.png" alt="" class="article__bg">
    <div class="container">
        <div class="article__breadcrumbs-row">


            <div class="breadcrumbs article__breadcrumbs">
                <a href="#">
                    Новости
                </a>
                <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                    <use xlink:href="#breadcrumbs-arrow"></use>
                </svg>
                <a href="#">
                    RDS GP
                </a>
            </div>
            <form action="/" method="GET" class="article__search-form">
                <input type="search" class="article__search-form-input" placeholder="Поиск">
                <button class="article__search-form-submit" type="submit">
                    <svg width="14" height="14" aria-hidden="true" class="icon-search">
                        <use xlink:href="#search"></use>
                    </svg>
                </button>
            </form>
        </div>
        <div class="article__content">
            <h1 class="article__main-heading">
                Пальмы и трасса Формулы-1:
                как завершился RDS Запад
            </h1>
            <div class="article__info">
                <div class="article__date">
                    11 ноября 2021
                </div>
                <div class="article__views">
                    <svg width="14" height="14" aria-hidden="true" class="icon-eye">
                        <use xlink:href="#eye"></use>
                    </svg>
                    326
                </div>
            </div>
            <div class="article__intro-row">
                <div class="article__intro-image-col">
                    <div class="article__intro-image-container">
                        <img src="img/article-image-2.jpg" alt="" class="article__intro-image">
                    </div>
                    <div class="article__intro-image-desc">
                        Финальная схватка Козлова с Бурлуцким | Автор: Михаил Петров | Российская Дрифт Серия
                    </div>
                </div>
                <div class="article__intro-text-col">
                    <div class="article__intro-text">
                        <p>
                            Судьями этого этапа стали <a href="#">Сергей Сак</a>, <a href="#">Андрей Песегов </a>
                            и <a href="#">Аркадий Цареградцев</a>.
                            На квалификацию выехали 40 пилотов. Победителем стал Алексей Козлов (BWT) с лучшим
                            результатом в 92 балла.
                            Он показал эффектный проезд по судейскому заданию, сметая все конусы на своем пути.
                        </p>
                    </div>
                </div>
            </div>
            <div class="article__main-content">
                <p>
                    В этом этапе принял участие и известный блогер из Санкт-Петербурга Сергей
                    Стилов. В топ-32 он встретился с Дмитрием Моховым (GARAGE DRIFT TEAM). С первого раза определить
                    победителя не получилось, поэтому был назначен ОМТ. В перезаезде Сергей отлично справился с
                    судейским заданием. Дмитрий не смог догнать Стилова, хоть и пытался это сделать через распрямление.
                </p>
                <p>
                    У автомобиля Мохова произошли технические проблемы, и он взял технический перерыв. К сожалению, пять
                    минут не помогли Дмитрию, и Сергей после байрана прошел дальше. В топ-16 Стилов выбыл, проиграв <a
                        href="#">Денису Сорокопуду (Московский спорт).</a>
                </p>
                <p>
                    В первом полуфинале встретились два пилота, которые на протяжении всего сезона постоянно соперничали
                    друг с другом в набранных баллах. Оба пилота не поднимались выше второй ступени в этом году.
                    <em>Именно в этот момент решилась судьба чемпионского титула RDS Запад.</em> «Подловить» на ошибках
                    кого-либо из пилотов было трудно, весь хит был практически идеальным. В этих проездах сильнее
                    оказался Антон
                    Козлов и отправился финал.
                </p>
                <h3 class="with-number">
                    <span class="heading-number">
                        01
                    </span>
                    Вес и объем охлаждающей жидкости одинаковые
                </h3>
                <p>
                    Антон Козлов (BlackDrift) начал хит против Фарида Надирова в гордом одиночестве Фарид задержался на
                    старте. С огромным расстоянием друг от друга пилоты провели странный проезд, после которого Антон
                    взял competition-timeout. Второй проезд тоже был не показательный: сначала распрямился Фарид, после
                    Антон.
                </p>
                <p>
                    Из-за большого количества ошибок обоих пилотов, судьи
                    отправили их на ОМТ. Второй хит тоже не задался, и
                    пилоты уехали на второй ОМТ. И, наконец, с третьего
                    раза у Козлова получился проезд лидером. После замены
                    ролей Надиров в роли лидера снова распрямился, и это
                    обнулило его проезд.
                </p>
                <div class="article__remark">
                    <h4 class="article__remark-title">
                        Важно
                    </h4>
                    <div class="article__remark-text">
                        Ориентируйтесь на срок
                        или пробег, указанный производителем антифриза.
                    </div>
                </div>
                <p>
                    В пятницу утром, первый официальный день
                    соревнований, всех ждал сюрприз: выпавший за ночь
                    снег покрывший автодром, из-за чего были отменены все тренировки в первой половине дня. Кстати,
                    финальный этап проводился не на «площадке» паддока поддержки, как в прошлые 3 этапа, а на основной
                    трассе Сочи Автодрома, где соревнуются пилоты Формула 1. Конфигурация трассы и судейское задание
                    были заведомо сложнее, и это напрямую влияло на результаты тренировок и квалификации.
                </p>
                <h3 class="with-number">
                    <span class="heading-number">
                        02
                    </span>
                    Цвет антифриза означает его тип
                </h3>
                <p>
                    Все трое пилотов оказались на одной стороне «сетки», что означало их встречу. Григорий Бурлуцкий
                    (BMW E36), оставив позади Зайцева Алексея и Попова Владислава, ожидал на разгоне стадии ТОП-8 Ивана
                    Пальмина (BMW E46 Eurofighter), которому до этого удалось обойти Ахтямова Максима и Козлова Алексея.
                    Внутрикомандное дерби выиграл Григорий, что вполне соответствовало командной тактике, так шанс на
                    победу в чемпионате все еще был за ним.
                </p>
                <a href="https://www.youtube.com/watch?v=JKxlsvZXG7c&ab_channel=Fireship" class="article__video" data-fancybox="">
                    <div class="article__video-preview-container">
                        <img src="img/article-video-preview.jpg" alt="" class="article__video-preview">
                        <svg width="14" height="14" aria-hidden="true" class="icon-play">
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                    <div class="article__video-desc">
                        RDS GP: Дебютный сезон подходит к концу, 6 этап, Мячково
                    </div>
                </a>

                <p>
                    Наш внимательный зритель может помнить, что в начале чемпионата мы намеревались разыграть среди
                    участников «межсезонья» путевку в состав старшей команды, выступающей в RDS GP. Но планам
                    свойственно меняться, поэтому с радостью сообщаем, что все три пилота примут участие в сезоне RDS
                    Europe! Первый этап состоится уже 14-15 мая на Рязанском ATRON Track.
                </p>

                <p>
                    И вот финальный хит. В первом проезде оба пилота проехали достаточно хорошо. После замены ролей
                    Денис не справился с темпом Антона и проезд получился не совсем парным. Антон Козлов стал
                    победителем шестого этапа RDS Запад. Денис Сорокопуд на втором месте. Среди команд места
                    расположились так: на первом месте Московский спорт, на втором Старперстарс, на третьем BlackDrift.
                </p>
                <a href="#" class="article__subscribe">
                    <img src="img/article-subscribe.jpg" alt="" class="article__subscribe-image">
                    <h3 class="article__subscribe-title">
                        Главные новости — в нашем Телеграме
                    </h3>
                    <div class="article__subscribe-text">
                        Подпишитесь, чтобы следить за разборами новых заездов.
                    </div>
                    <div class="article__subscribe-link">
                        Подписаться
                    </div>
                </a>
                <h3 class="with-number">
                    <span class="heading-number">
                        03
                    </span>
                    Хороший антифриз должен соответство&shy;вать ГОСТу
                </h3>
                <p>
                    Стремительно развивающийся Иван Пальмин, по обыкновению, дошел до стадии ТОП 16, но после ОМТ с
                    невероятно стабильным и сильным пилотом Айратом Ибрагимовым все же уступил ему из-за технических
                    проблем.
                </p>
                <p>
                    Дольше всех продержавшийся Григорий Бурлуцкий обошел
                    в воскресной борьбе таких соперников как Александра
                    Мезенцева, Евгения Спирина, Тимофея Добровольского,
                    Леонида Шнайдера, и лишь в финале уступил Никите
                    Лукьянову, занявшему соответственно первое место
                    по итогам этапа.
                </p>
                <div class="article__remark article__remark--left">

                    <div class="article__remark-text">
                        Дешевые антифризы состоят
                        из глицерина и метанола, который выкипает уже при 95°C
                    </div>
                </div>
                <p>
                    Стремительно развивающийся Иван Пальмин, по обыкновению, дошел до стадии ТОП 16, но после ОМТ с
                    невероятно стабильным и сильным пилотом Айратом Ибрагимовым все же уступил ему из-за технических
                    проблем. Дольше всех продержавшийся Григорий Бурлуцкий обошел в воскресной борьбе таких соперников
                    как Александра Мезенцева, Евгения Спирина, Тимофея Добровольского, Леонида Шнайдера, и лишь в финале
                    уступил Никите Лукьянову, занявшему соответственно первое место по итогам этапа.
                </p>
                <figure>
                    <img src="img/article-car.jpg" alt="">
                    <figcaption>An elephant at sunset</figcaption>
                </figure>
                <p>
                    Скалярное произведение, общеизвестно, естественно усиливает эмпирический метод последовательных
                    приближений. Представляется логичным, что высшая арифметика поддерживает предел последовательности.
                    Наряду с этим, функция выпуклая кверху вырождена.
                </p>
                <p>
                    Определитель системы линейных уравнений, в первом приближении, неоднозначен. Векторное поле,
                    следовательно, реально усиливает невероятный Наибольший Общий Делитель (НОД), откуда следует
                    доказываемое равенство.
                </p>
                <h3 class="with-number with-number--small">
                    <span class="heading-number">
                        01
                    </span>
                    Почему ГОСТы — это хорошо
                </h3>
                <p>
                    Качество антифриза определяется во время его эксплуатации: способность охлаждающей жидкости
                    сохранять свои свойства на протяжении заявленного срока эксплуатации. Для этого и нужны длительные
                    стендовые и ходовые испытания, охлаждающая жидкость Carville Racing тестировалась на радиаторах
                    LUZAR и по результатам тестирования показала отличные результаты.
                </p>
                <h3 class="with-number with-number--small">
                    <span class="heading-number">
                        02
                    </span>
                    Смазка в составе всего лишь маркетинговый ход
                </h3>
                <p>
                    ГОСТ был разработан еще в 80х годах, когда существовала только одна охлаждающая жидкость ТОСОЛ-АМ.
                    ГОСТ определяет только испытания антифриза в лаборатории,
                    но не включает испытания на стендах и на реальных авто.
                </p>
                <div class="article__table">
                    <div class="results__tables-card-table-scroll-wrapper">
                        <div class="results__tables-card-table">
                            <img src="img/results/rds_gp.png" alt="" class="results__tables-card-table-league">



                            <table>
                                <thead>
                                    <tr>

                                        <th>

                                        </th>
                                        <th>

                                        </th>
                                        <th class="center text-large">
                                            1 ЭТАП
                                        </th>
                                        <th class="center text-large">
                                            2 ЭТАП
                                        </th>
                                        <th class="center text-large">
                                            3 ЭТАП
                                        </th>
                                        <th class="center text-large">
                                            4 ЭТАП
                                        </th>
                                        <th class="center text-large">
                                            5 ЭТАП
                                        </th>
                                        <th class="center text-large">
                                            6 ЭТАП
                                        </th>
                                        <th class="center text-large">
                                            7 ЭТАП
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                    <tr>
                                        <th>

                                        </th>

                                        <th>

                                        </th>
                                        <th class="center">
                                            Moscow Raceway<br>
                                            01.05 - 02.05
                                        </th>
                                        <th class="center">
                                            Moscow Raceway<br>
                                            01.05 - 02.05
                                        </th>
                                        <th class="center">
                                            Moscow Raceway<br>
                                            01.05 - 02.05
                                        </th>
                                        <th class="center">
                                            Moscow Raceway<br>
                                            01.05 - 02.05
                                        </th>
                                        <th class="center">
                                            Moscow Raceway<br>
                                            01.05 - 02.05
                                        </th>
                                        <th class="center">
                                            Moscow Raceway<br>
                                            01.05 - 02.05
                                        </th>
                                        <th class="center">
                                            Moscow Raceway<br>
                                            01.05 - 02.05
                                        </th>
                                        <th>

                                        </th>
                                    </tr>


                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="dark">
                                            1
                                        </td>
                                        <td class="dark with-border">
                                            FRESH AUTO DRIFT
                                        </td>
                                        <td class="center with-border">
                                            335
                                        </td>
                                        <td class=" center with-border">
                                            385
                                        </td>
                                        <td class="center with-border">
                                            441
                                        </td>
                                        <td class="center with-border">
                                            206
                                        </td>
                                        <td class="center with-border">
                                            205
                                        </td>
                                        <td class=" center with-border">
                                            242
                                        </td>
                                        <td class="center with-border">
                                            286
                                        </td>
                                        <td class="dark center bold">
                                            2070
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="dark">
                                            2
                                        </td>
                                        <td class="dark with-border">
                                            ФОРВАРД АВТО
                                        </td>
                                        <td class="center with-border">
                                            335
                                        </td>
                                        <td class="center with-border">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                                                <use xlink:href="#cross"></use>
                                            </svg>
                                        </td>
                                        <td class="center with-border">
                                            441
                                        </td>
                                        <td class="center with-border">
                                            206
                                        </td>
                                        <td class="center with-border">
                                            205
                                        </td>
                                        <td class="center with-border">
                                            242
                                        </td>
                                        <td class="center with-border">
                                            286
                                        </td>
                                        <td class="dark center bold">
                                            2070
                                        </td>
                                    </tr>
                                    <tr class="selected">
                                        <td class="dark">
                                            3
                                        </td>
                                        <td class="dark with-border">
                                            ФОРВАРД АВТО
                                        </td>
                                        <td class="center with-border">
                                            335
                                        </td>
                                        <td class="center with-border">
                                            385
                                        </td>
                                        <td class="center with-border">
                                            441
                                        </td>
                                        <td class="center with-border">
                                            206
                                        </td>
                                        <td class="center with-border">
                                            205
                                        </td>
                                        <td class="center with-border">
                                            242
                                        </td>
                                        <td class="center with-border">
                                            286
                                        </td>
                                        <td class="dark center bold">
                                            2070
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="dark">
                                            4
                                        </td>
                                        <td class="dark with-border">
                                            ФОРВАРД АВТО
                                        </td>
                                        <td class="center with-border">
                                            335
                                        </td>
                                        <td class="center with-border">
                                            385
                                        </td>
                                        <td class="center with-border">
                                            441
                                        </td>
                                        <td class="center with-border">
                                            206
                                        </td>
                                        <td class="center with-border">
                                            205
                                        </td>
                                        <td class="center with-border">
                                            242
                                        </td>
                                        <td class="center with-border">
                                            286
                                        </td>
                                        <td class="dark center bold">
                                            2070
                                        </td>
                                    </tr>

                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
                <p>
                    Во втором полуфинале борьба не менее жаркой. При всем опыте Бориса Абрамова совладать с напором и
                    талантом Дениса Сорокопуда оказалось не так просто. В первом проезде Борис слегка отстал от своего
                    лидера. После замены ролей Денис тоже был далеко от своего лидера, но такая тактика оказалась
                    оправданной, в самом начале Абрамов вновь покинул пределы трассы.
                </p>
                <p>
                    По итогам полуфиналов в борьбе за третье место сошлись Борис Абрамов и Антон Новиков. В своей
                    последней битве в этом сезоне Борис показал все, на что способен, и его труды были оценены по
                    достоинству. Антон показал очень хороший проезд, но Борис оказался лучше и занял третье место.
                </p>
                <p>
                    У автомобиля Мохова произошли технические проблемы, и он взял технический перерыв. К сожалению, пять
                    минут не помогли Дмитрию, и Сергей после байрана прошел дальше. В топ-16 Стилов выбыл, проиграв <a
                        href="#">Денису Сорокопуду (Московский спорт)</a>. В первом полуфинале встретились два пилота,
                    которые на протяжении всего сезона постоянно соперничали друг с другом в набранных баллах. Оба
                    пилота не поднимались выше второй ступени в этом году. Именно в этот момент решилась судьба
                    чемпионского титула RDS Запад. «Подловить» на ошибках кого-либо из пилотов было трудно.
                </p>

            </div>
            <div class="article__bottom-row">
                <div class="article__meta">
                    <div class="article__meta-top-row">
                        <div class="article__meta-date">
                            11 ноября 2011
                        </div>
                        <div class="article__meta-views">
                            <svg width="14" height="14" aria-hidden="true" class="icon-eye">
                                <use xlink:href="#eye"></use>
                            </svg>
                            326
                        </div>
                        <div class="article__meta-sharing">
                            <h4 class="article__meta-sharing-title">
                                Поделиться:
                            </h4>
                            <div class="article__meta-sharing-links">

                                <a href="#" class="article__meta-sharing-link">
                                    <svg width="14" height="14" aria-hidden="true"
                                        class="icon-vk article__meta-sharing-link-icon">
                                        <use xlink:href="#vk"></use>
                                    </svg>
                                </a>
                                <a href="#" class="article__meta-sharing-link">
                                    <svg width="14" height="14" aria-hidden="true"
                                        class="icon-pilots-telegram article__meta-sharing-link-icon">
                                        <use xlink:href="#pilots-telegram"></use>
                                    </svg>
                                </a>
                                <a href="#" class="article__meta-sharing-link">
                                    <svg width="14" height="14" aria-hidden="true"
                                        class="icon-twitter article__meta-sharing-link-icon">
                                        <use xlink:href="#twitter"></use>
                                    </svg>
                                </a>
                                <a href="#" class="article__meta-sharing-link">
                                    <svg width="14" height="14" aria-hidden="true"
                                        class="icon-ok article__meta-sharing-link-icon">
                                        <use xlink:href="#ok"></use>
                                    </svg>
                                </a>
                                <a href="#" class="article__meta-sharing-link">
                                    <svg width="14" height="14" aria-hidden="true"
                                        class="icon-whatsapp article__meta-sharing-link-icon">
                                        <use xlink:href="#whatsapp"></use>
                                    </svg>
                                </a>
                                <a href="https://google.com" class="article__meta-sharing-link js-copy-link">
                                    <svg width="14" height="14" aria-hidden="true"
                                        class="icon-copy article__meta-sharing-link-icon">
                                        <use xlink:href="#copy"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="article__tags">
                        <a href="#" class="article__tag">
                            RDS GP
                        </a>
                        <a href="#" class="article__tag">
                            ФОРМУЛА-1
                        </a>
                        <a href="#" class="article__tag">
                            Цареградцев
                        </a>
                        <a href="#" class="article__tag">
                            Антифриз
                        </a>
                    </div>
                    <div class="article__social">
                        <h3 class="article__social-title">
                            Мы в социальных сетях:
                        </h3>
                        <div class="article__social-links">
                            <a href="#" class="article__social-link">
                                <img src="img/vk.svg" alt="" class="article__social-link-icon">
                            </a>
                            <a href="#" class="article__social-link">
                                <img src="img/youtube.svg" alt="" class="article__social-link-icon">
                            </a>
                            <a href="#" class="article__social-link">
                                <img src="img/telegram.svg" alt="" class="article__social-link-icon">
                            </a>
                        </div>
                    </div>
                </div>


                <div class="contacts__card article__contacts-card">
                    <img src="img/contact-card-2.png" alt="" class="contacts__card-image contacts__card-image--car">
                    <div class="contacts__card-content">
                        <h4 class="contacts__card-title">
                            Интересные новости российского автоспорта
                        </h4>
                        <form action="/" method="POST" class="contacts__card-form" data-need-validation=""
                            id="subscription-form">
                            <div class="contacts__card-form-row">
                                <input type="email" name="email" class="contacts__card-form-input" placeholder="E-mail"
                                    required="" data-parsley-errors-container="#subscription-form">
                                <div class="contacts__card-form-half-circle"></div>
                                <button class="contacts__card-form-submit" type="submit">
                                    Подписаться
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="contacts__modal js-modal" id="contacts-success-modal">
                    <div class="contacts__modal-inner contacts__modal-inner--narrow">

                        <h3 class="contacts__modal-heading contacts__modal-heading--centered">
                            Ваша заявка отправлена
                        </h3>
                        <img src="img/success-icon.svg" alt="" class="contacts__modal-success-icon">
                        <button class="contacts__modal-success-close js-close-modal">
                            Закрыть
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="other-news">
    <picture>
        <source srcset="img/partners-mobile.svg" media="(max-width: 640px)">
        <img src="img/footer-bg.svg" alt="MDN" class="other-news__bg">
    </picture>
    <div class="container">
        <div class="other-news__content">
            <div class="other-news__slider js-other-news-slider">
                <div class="other-news__slider-top-row">
                    <h2 class="other-news__heading">
                        Новости
                    </h2>
                    <div class="other-news__arrows">
                        <button class="other-news__arrow other-news__arrow--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="other-news__arrow other-news__arrow--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="other-news__slider-card">
                                <div class="other-news__slider-card-image-container">
                                    <img src="img/other-news/1.jpg" alt="" class="other-news__slider-card-image">
                                </div>
                                <div class="other-news__slider-card-content">
                                    <div class="other-news__slider-card-info">
                                        <span>
                                            RDS SDC
                                        </span>
                                        / 14 марта
                                    </div>
                                    <h3 class="other-news__slider-card-title">
                                        Финальный этап сезона на Сочи Автодроме: солнце, море и… пожар?!
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="other-news__slider-card">
                                <div class="other-news__slider-card-image-container">
                                    <img src="img/other-news/2.jpg" alt="" class="other-news__slider-card-image">
                                </div>
                                <div class="other-news__slider-card-content">
                                    <div class="other-news__slider-card-info">
                                        <span>
                                            RDS DC
                                        </span>
                                        / 14 марта
                                    </div>
                                    <h3 class="other-news__slider-card-title">
                                        В шаге от финала:
                                        как прошел шестой этап RDS DC
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="other-news__slider-card">
                                <div class="other-news__slider-card-image-container">
                                    <img src="img/other-news/3.jpg" alt="" class="other-news__slider-card-image">
                                </div>
                                <div class="other-news__slider-card-content">
                                    <div class="other-news__slider-card-info">
                                        <span>
                                            RDS Europe
                                        </span>
                                        / 14 марта
                                    </div>
                                    <h3 class="other-news__slider-card-title">
                                        Финал близок:
                                        о событиях шестого этапа
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="other-news__slider-card">
                                <div class="other-news__slider-card-image-container">
                                    <img src="img/other-news/3.jpg" alt="" class="other-news__slider-card-image">
                                </div>
                                <div class="other-news__slider-card-content">
                                    <div class="other-news__slider-card-info">
                                        <span>
                                            RDS Europe
                                        </span>
                                        / 14 марта
                                    </div>
                                    <h3 class="other-news__slider-card-title">
                                        Завершили сезон в тройке лучших: итоги финального этапа RDS Europe
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="other-news__slider-card">
                                <div class="other-news__slider-card-image-container">
                                    <img src="img/other-news/1.jpg" alt="" class="other-news__slider-card-image">
                                </div>
                                <div class="other-news__slider-card-content">
                                    <div class="other-news__slider-card-info">
                                        <span>
                                            RDS SDC
                                        </span>
                                        / 14 марта
                                    </div>
                                    <h3 class="other-news__slider-card-title">
                                        Финальный этап сезона на Сочи Автодроме: солнце, море и… пожар?!
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="other-news__slider-card">
                                <div class="other-news__slider-card-image-container">
                                    <img src="img/other-news/2.jpg" alt="" class="other-news__slider-card-image">
                                </div>
                                <div class="other-news__slider-card-content">
                                    <div class="other-news__slider-card-info">
                                        <span>
                                            RDS DC
                                        </span>
                                        / 14 марта
                                    </div>
                                    <h3 class="other-news__slider-card-title">
                                        В шаге от финала:
                                        как прошел шестой этап RDS DC
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="other-news__slider-card">
                                <div class="other-news__slider-card-image-container">
                                    <img src="img/other-news/3.jpg" alt="" class="other-news__slider-card-image">
                                </div>
                                <div class="other-news__slider-card-content">
                                    <div class="other-news__slider-card-info">
                                        <span>
                                            RDS Europe
                                        </span>
                                        / 14 марта
                                    </div>
                                    <h3 class="other-news__slider-card-title">
                                        Финал близок:
                                        о событиях шестого этапа
                                    </h3>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="other-news__slider-card">
                                <div class="other-news__slider-card-image-container">
                                    <img src="img/other-news/3.jpg" alt="" class="other-news__slider-card-image">
                                </div>
                                <div class="other-news__slider-card-content">
                                    <div class="other-news__slider-card-info">
                                        <span>
                                            RDS Europe
                                        </span>
                                        / 14 марта
                                    </div>
                                    <h3 class="other-news__slider-card-title">
                                        Завершили сезон в тройке лучших: итоги финального этапа RDS Europe
                                    </h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}