{{#extend "layout"}}
{{#content "main"}}



<section class="pilots">
    <img src="img/autopark-rainbow.png" alt="" class="pilots__bg">
    <div class="container">

        <h1 class="pilots__heading">
            Автопарк Carville Racing<br>
            Drift Team
        </h1>
        <div class="pilots__info-row">
            <div class="pilots__heading-text">
                <p>
                    Всё самое свежее и актуальное
                    ждёт вас в нашем телеграм-канале!
                </p>
            </div>
            <a href="#" class="pilots__telegram-link">
                <svg width="14" height="14" aria-hidden="true" class="icon-pilots-telegram">
                    <use xlink:href="#pilots-telegram"></use>
                </svg>
                Подписаться
            </a>
        </div>
        <ul class="pilots__list">
            <li class="pilots__list-item">

                <div class="pilots__card">
                    <div class="pilots__card-number">
                        90
                    </div>
                    <img src="img/pilots/pilot-1.png" alt="" class="pilots__card-photo">
                    <div class="pilots__card-row">


                        <div class="pilots__card-col">
                            <h3 class="pilots__card-title">
                                Никита Шиков
                            </h3>
                            <div class="pilots__card-top-row">
                                <div class="pilots__card-rds">
                                    <img src="img/rds/rds-gp.png" alt="" class="pilots__card-rds-image">
                                </div>
                                <a href="#" class="pilots__card-instagram">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                    shikov_nikita
                                </a>
                            </div>
                            <div class="pilots__card-medium-row">
                                <div class="pilots__card-info">
                                    <div class="pilots__card-info-block">
                                        <div class="pilots__card-info-block-amount">
                                            90
                                        </div>
                                        <div class="pilots__card-info-block-text">
                                            стартовый номер
                                        </div>
                                    </div>
                                    <div class="pilots__card-info-block">
                                        <div class="pilots__card-info-block-amount">
                                            35
                                        </div>
                                        <div class="pilots__card-info-block-text">
                                            лет
                                        </div>
                                    </div>
                                </div>
                                <div class="pilots__card-city">
                                    Москва
                                </div>
                            </div>
                            <div class="pilots__card-description">
                                <p>
                                    С 2007 года в дрифте, автор проектов «История российского дрифта» и «особенности
                                    национального автоспорта (О.Н.А.)».
                                    Постоянный судья соревнований от Москомспорта, Winter Drift Battle. Снимался в
                                    рекламах
                                    Мегафона и АльфаБанка.
                                </p>
                            </div>
                            <div class="pilots__card-stats">
                                <h2 class="pilots__card-stats-heading">
                                    Статистика
                                </h2>
                                <div class="pilots__card-stats-blocks">


                                    <div class="pilots__card-stats-block">
                                        <div class="pilots__card-stats-block-text">
                                            Место в чемпионате
                                        </div>
                                        <div class="pilots__card-stats-block-amount">
                                            18
                                        </div>
                                    </div>
                                    <div class="pilots__card-stats-block">
                                        <div class="pilots__card-stats-block-text">
                                            Награды
                                        </div>
                                        <img src="img/cup-pilots.png" alt="" class="pilots__card-stats-icon">
                                        <div class="pilots__card-stats-block-amount">
                                            2
                                        </div>
                                    </div>
                                    <div class="pilots__card-stats-block">
                                        <div class="pilots__card-stats-block-text">
                                            Текущее положение
                                        </div>
                                        <div class="pilots__card-stats-block-amount">
                                            46
                                        </div>
                                    </div>
                                    <div class="pilots__card-stats-block">
                                        <div class="pilots__card-stats-block-text">
                                            Всего заездов
                                        </div>
                                        <img src="img/pedstal-pilots.png" alt="" class="pilots__card-stats-icon">
                                        <div class="pilots__card-stats-block-amount">
                                            74
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pilots__card-col">
                            <div class="pilots__card-news">
                                <ul class="pilots__card-news-list">
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-youtube"
                                                    class="pilots__card-news-card-icon">
                                                    <use xlink:href="#youtube"></use>
                                                </svg>
                                                RDS GP на Игора Драйв: перебрали
                                                мотор в ночь до квалы и встали
                                                на тумбу всей командой!
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                5 этап RDS GP, автодром «Красное кольцо»
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                Жаркая гонка в Нижнем Новгороде
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-youtube"
                                                    class="pilots__card-news-card-icon">
                                                    <use xlink:href="#youtube"></use>
                                                </svg>
                                                RDS GP на Игора Драйв: перебрали
                                                мотор в ночь до квалы и встали
                                                на тумбу всей командой!
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                5 этап RDS GP, автодром «Красное кольцо»
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                Жаркая гонка в Нижнем Новгороде
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="pilots__card-car">
                                <img src="img/autopark/cars/car-1-large.jpg" alt="" class="pilots__card-car-image">
                                <div class="pilots__card-car-content">
                                    <h4 class="pilots__card-car-title">
                                        Toyota GR Supra
                                        <span>
                                            Groza
                                        </span>
                                    </h4>
                                    <div class="pilots__card-car-specs">
                                        <div class="pilots__card-car-specs-item">
                                            <img src="img/gear.svg" alt="" class="pilots__card-car-specs-item-icon">
                                            3,4 л
                                        </div>
                                        <div class="pilots__card-car-specs-item">
                                            <img src="img/lightning.svg" alt=""
                                                class="pilots__card-car-specs-item-icon">
                                            1013 л.с.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="pilots__list-item">

                <div class="pilots__card">
                    <div class="pilots__card-number">
                        91
                    </div>
                    <img src="img/pilots/pilot-2.png" alt="" class="pilots__card-photo">
                    <div class="pilots__card-row">


                        <div class="pilots__card-col">
                            <h3 class="pilots__card-title">
                                Григорий Бурлуцкий
                            </h3>
                            <div class="pilots__card-top-row">
                                <div class="pilots__card-rds">
                                    <img src="img/rds/rds-europe.png" alt="" class="pilots__card-rds-image">
                                </div>
                                <a href="#" class="pilots__card-instagram">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                    b_gregori
                                </a>
                            </div>
                            <div class="pilots__card-medium-row">
                                <div class="pilots__card-info">
                                    <div class="pilots__card-info-block">
                                        <div class="pilots__card-info-block-amount">
                                            91
                                        </div>
                                        <div class="pilots__card-info-block-text">
                                            стартовый номер
                                        </div>
                                    </div>
                                    <div class="pilots__card-info-block">
                                        <div class="pilots__card-info-block-amount">
                                            26
                                        </div>
                                        <div class="pilots__card-info-block-text">
                                            лет
                                        </div>
                                    </div>
                                </div>
                                <div class="pilots__card-city">
                                    Санкт-Петербург
                                </div>
                            </div>
                            <div class="pilots__card-description">
                                <p>
                                    С 2014 года — постоянный пилот спортивной гоночной команды Carville Racing, участник
                                    Российской серии кольцевых гонок
                                    СМП РСКГ, а с конца 2021 года участник RDS Europe.
                                    О себе: «Всегда с поднятой головой и оптимизмом».
                                </p>
                            </div>
                            <div class="pilots__card-stats">
                                <h2 class="pilots__card-stats-heading">
                                    Статистика
                                </h2>
                                <div class="pilots__card-stats-blocks">


                                    <div class="pilots__card-stats-block">
                                        <div class="pilots__card-stats-block-text">
                                            Место в чемпионате
                                        </div>
                                        <div class="pilots__card-stats-block-amount">
                                            24
                                        </div>
                                    </div>
                                    <div class="pilots__card-stats-block">
                                        <div class="pilots__card-stats-block-text">
                                            Награды
                                        </div>
                                        <img src="img/cup-pilots.png" alt="" class="pilots__card-stats-icon">
                                        <div class="pilots__card-stats-block-amount">
                                            4
                                        </div>
                                    </div>
                                    <div class="pilots__card-stats-block">
                                        <div class="pilots__card-stats-block-text">
                                            Текущее положение
                                        </div>
                                        <div class="pilots__card-stats-block-amount">
                                            57
                                        </div>
                                    </div>
                                    <div class="pilots__card-stats-block">
                                        <div class="pilots__card-stats-block-text">
                                            Всего заездов
                                        </div>
                                        <img src="img/pedstal-pilots.png" alt="" class="pilots__card-stats-icon">
                                        <div class="pilots__card-stats-block-amount">
                                            65
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pilots__card-col">
                            <div class="pilots__card-news">
                                <ul class="pilots__card-news-list">
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-youtube"
                                                    class="pilots__card-news-card-icon">
                                                    <use xlink:href="#youtube"></use>
                                                </svg>
                                                SOCHI DRIFT CHALLENGE 3 / ЛИЧНЫЙ
                                                И КОМАНДНЫЙ ПОДИУМ /3 ЭТАП
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-youtube"
                                                    class="pilots__card-news-card-icon">
                                                    <use xlink:href="#youtube"></use>
                                                </svg>
                                                Sochi Drift Challenge: как прошел второй этап?
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                Уходим? Carville Racing. Последний сезон
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-youtube"
                                                    class="pilots__card-news-card-icon">
                                                    <use xlink:href="#youtube"></use>
                                                </svg>
                                                SOCHI DRIFT CHALLENGE 3 / ЛИЧНЫЙ
                                                И КОМАНДНЫЙ ПОДИУМ /3 ЭТАП
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-youtube"
                                                    class="pilots__card-news-card-icon">
                                                    <use xlink:href="#youtube"></use>
                                                </svg>
                                                Sochi Drift Challenge: как прошел второй этап?
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                Уходим? Carville Racing. Последний сезон
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="pilots__card-car">
                                <img src="img/autopark/cars/car-5-large.jpg" alt="" class="pilots__card-car-image">
                                <div class="pilots__card-car-content">
                                    <h4 class="pilots__card-car-title">
                                        BMW F22
                                        <span>
                                            Eurofighter
                                        </span>
                                    </h4>
                                    <div class="pilots__card-car-specs">
                                        <div class="pilots__card-car-specs-item">
                                            <img src="img/gear.svg" alt="" class="pilots__card-car-specs-item-icon">
                                            7,2 л
                                        </div>
                                        <div class="pilots__card-car-specs-item">
                                            <img src="img/lightning.svg" alt=""
                                                class="pilots__card-car-specs-item-icon">
                                            800 л.с.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="pilots__list-item">

                <div class="pilots__card">
                    <div class="pilots__card-number">
                        53
                    </div>
                    <img src="img/pilots/pilot-3.png" alt="" class="pilots__card-photo">
                    <div class="pilots__card-row">


                        <div class="pilots__card-col">
                            <h3 class="pilots__card-title">
                                Антон Клямко
                            </h3>
                            <div class="pilots__card-top-row">
                                <div class="pilots__card-rds">
                                    <img src="img/rds/rds-gp.png" alt="" class="pilots__card-rds-image">
                                </div>
                                <a href="#" class="pilots__card-instagram">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                    kliiiam
                                </a>
                            </div>
                            <div class="pilots__card-medium-row">
                                <div class="pilots__card-info">
                                    <div class="pilots__card-info-block">
                                        <div class="pilots__card-info-block-amount">
                                            53
                                        </div>
                                        <div class="pilots__card-info-block-text">
                                            стартовый номер
                                        </div>
                                    </div>
                                    <div class="pilots__card-info-block">
                                        <div class="pilots__card-info-block-amount">
                                            29
                                        </div>
                                        <div class="pilots__card-info-block-text">
                                            лет
                                        </div>
                                    </div>
                                </div>
                                <div class="pilots__card-city">
                                    Санкт-Петербург
                                </div>
                            </div>
                            <div class="pilots__card-description">
                                <p>
                                    С 2017 года — постоянный пилот спортивной гоночной команды Carville Racing, участник
                                    RDS GP. Антон занялся спортивной ездой в заносе заметно позже своих сокомандников,
                                    но гонщик
                                    оказался на высоте и уже показал свои лучшие результаты.
                                </p>
                            </div>
                            <div class="pilots__card-stats">
                                <h2 class="pilots__card-stats-heading">
                                    Статистика
                                </h2>
                                <div class="pilots__card-stats-blocks">


                                    <div class="pilots__card-stats-block">
                                        <div class="pilots__card-stats-block-text">
                                            Место в чемпионате
                                        </div>
                                        <div class="pilots__card-stats-block-amount">
                                            18
                                        </div>
                                    </div>
                                    <div class="pilots__card-stats-block">
                                        <div class="pilots__card-stats-block-text">
                                            Награды
                                        </div>
                                        <img src="img/cup-pilots.png" alt="" class="pilots__card-stats-icon">
                                        <div class="pilots__card-stats-block-amount">
                                            2
                                        </div>
                                    </div>
                                    <div class="pilots__card-stats-block">
                                        <div class="pilots__card-stats-block-text">
                                            Текущее положение
                                        </div>
                                        <div class="pilots__card-stats-block-amount">
                                            46
                                        </div>
                                    </div>
                                    <div class="pilots__card-stats-block">
                                        <div class="pilots__card-stats-block-text">
                                            Всего заездов
                                        </div>
                                        <img src="img/pedstal-pilots.png" alt="" class="pilots__card-stats-icon">
                                        <div class="pilots__card-stats-block-amount">
                                            74
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pilots__card-col">
                            <div class="pilots__card-news">
                                <ul class="pilots__card-news-list">
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">


                                                <svg width="14" height="14" aria-hidden="true" class="icon-youtube"
                                                    class="pilots__card-news-card-icon">
                                                    <use xlink:href="#youtube"></use>
                                                </svg>
                                                RDS GP: Сибирские взлеты и падения, 5 этап
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-youtube"
                                                    class="pilots__card-news-card-icon">
                                                    <use xlink:href="#youtube"></use>
                                                </svg>
                                                RDS GP: Дебютный сезон подходит
                                                к концу, 6 этап, Мячково
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                Дома и стены помогают: прорыв команды Carville Racing на 3-м этапе RDS
                                                GP
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-youtube"
                                                    class="pilots__card-news-card-icon">
                                                    <use xlink:href="#youtube"></use>
                                                </svg>
                                                RDS GP: Сибирские взлеты и падения, 5 этап
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-youtube"
                                                    class="pilots__card-news-card-icon">
                                                    <use xlink:href="#youtube"></use>
                                                </svg>
                                                RDS GP: Дебютный сезон подходит
                                                к концу, 6 этап, Мячково
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                Дома и стены помогают: прорыв команды Carville Racing на 3-м этапе RDS
                                                GP
                                            </div>
                                        </a>
                                    </li>


                                </ul>
                            </div>
                            <div class="pilots__card-car">
                                <img src="img/autopark/cars/car-3-large.jpg" alt="" class="pilots__card-car-image">
                                <div class="pilots__card-car-content">
                                    <h4 class="pilots__card-car-title">
                                        BMW F22
                                        <span>
                                            Eurofighter
                                        </span>
                                    </h4>
                                    <div class="pilots__card-car-specs">
                                        <div class="pilots__card-car-specs-item">
                                            <img src="img/gear.svg" alt="" class="pilots__card-car-specs-item-icon">
                                            7,2 л
                                        </div>
                                        <div class="pilots__card-car-specs-item">
                                            <img src="img/lightning.svg" alt=""
                                                class="pilots__card-car-specs-item-icon">
                                            800 л.с.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="pilots__list-item">

                <div class="pilots__card">
                    <div class="pilots__card-number">
                        95
                    </div>
                    <img src="img/pilots/pilot-4.png" alt="" class="pilots__card-photo">
                    <div class="pilots__card-row">


                        <div class="pilots__card-col">
                            <h3 class="pilots__card-title">
                                Николай Горковенко
                            </h3>
                            <div class="pilots__card-top-row">
                                <div class="pilots__card-rds">
                                    <img src="img/rds/rds-gp.png" alt="" class="pilots__card-rds-image">
                                </div>
                                <a href="#" class="pilots__card-instagram">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                    miram1x
                                </a>
                            </div>
                            <div class="pilots__card-medium-row">
                                <div class="pilots__card-info">
                                    <div class="pilots__card-info-block">
                                        <div class="pilots__card-info-block-amount">
                                            95
                                        </div>
                                        <div class="pilots__card-info-block-text">
                                            стартовый номер
                                        </div>
                                    </div>
                                    <div class="pilots__card-info-block">
                                        <div class="pilots__card-info-block-amount">
                                            34
                                        </div>
                                        <div class="pilots__card-info-block-text">
                                            года
                                        </div>
                                    </div>
                                </div>
                                <div class="pilots__card-city">
                                    Санкт-Петербург
                                </div>
                            </div>
                            <div class="pilots__card-description">
                                <p>
                                    Серебряный призёр RDS-Запад 2020, бронзовый призёр SDC 2020, победитель Суперкубка
                                    Запад vs Юг 2020. О себе:
                                    «Чем чаще участвуешь в соревнованиях, тем лучше
                                    контролируешь своё состояние».
                                </p>
                            </div>
                            <div class="pilots__card-stats">
                                <h2 class="pilots__card-stats-heading">
                                    Статистика
                                </h2>
                                <div class="pilots__card-stats-blocks">


                                    <div class="pilots__card-stats-block">
                                        <div class="pilots__card-stats-block-text">
                                            Место в чемпионате
                                        </div>
                                        <div class="pilots__card-stats-block-amount">
                                            18
                                        </div>
                                    </div>
                                    <div class="pilots__card-stats-block">
                                        <div class="pilots__card-stats-block-text">
                                            Награды
                                        </div>
                                        <img src="img/cup-pilots.png" alt="" class="pilots__card-stats-icon">
                                        <div class="pilots__card-stats-block-amount">
                                            3
                                        </div>
                                    </div>
                                    <div class="pilots__card-stats-block">
                                        <div class="pilots__card-stats-block-text">
                                            Текущее положение
                                        </div>
                                        <div class="pilots__card-stats-block-amount">
                                            46
                                        </div>
                                    </div>
                                    <div class="pilots__card-stats-block">
                                        <div class="pilots__card-stats-block-text">
                                            Всего заездов
                                        </div>
                                        <img src="img/pedstal-pilots.png" alt="" class="pilots__card-stats-icon">
                                        <div class="pilots__card-stats-block-amount">
                                            74
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pilots__card-col">
                            <div class="pilots__card-news">
                                <ul class="pilots__card-news-list">
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                Увидел валящую боком E36, и захотелось так же
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                Николай Горковенко стал победителем
                                                второго этапа RDS Юг
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                Первый раз проехал конфиг Sochi
                                                Autodrom на LT 5
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                Увидел валящую боком E36, и захотелось так же
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                Николай Горковенко стал победителем
                                                второго этапа RDS Юг
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                Первый раз проехал конфиг Sochi
                                                Autodrom на LT 5
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="pilots__card-car">
                                <img src="img/autopark/cars/car-2-large.jpg" alt="" class="pilots__card-car-image">
                                <div class="pilots__card-car-content">
                                    <h4 class="pilots__card-car-title">
                                        BMW E92
                                        <span>
                                            Eurofighter
                                        </span>
                                    </h4>
                                    <div class="pilots__card-car-specs">
                                        <div class="pilots__card-car-specs-item">
                                            <img src="img/gear.svg" alt="" class="pilots__card-car-specs-item-icon">
                                            7,2 л
                                        </div>
                                        <div class="pilots__card-car-specs-item">
                                            <img src="img/lightning.svg" alt=""
                                                class="pilots__card-car-specs-item-icon">
                                            800 л.с.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="pilots__list-item">

                <div class="pilots__card">
                    <div class="pilots__card-number">
                        28
                    </div>
                    <img src="img/pilots/pilot-5.png" alt="" class="pilots__card-photo">
                    <div class="pilots__card-row">


                        <div class="pilots__card-col">
                            <h3 class="pilots__card-title">
                                Иван Пальмин
                            </h3>
                            <div class="pilots__card-top-row">
                                <div class="pilots__card-rds">
                                    <img src="img/rds/rds-europe.png" alt="" class="pilots__card-rds-image">
                                </div>
                                <a href="#" class="pilots__card-instagram">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                    vanyavsup
                                </a>
                            </div>
                            <div class="pilots__card-medium-row">
                                <div class="pilots__card-info">
                                    <div class="pilots__card-info-block">
                                        <div class="pilots__card-info-block-amount">
                                            28
                                        </div>
                                        <div class="pilots__card-info-block-text">
                                            стартовый номер
                                        </div>
                                    </div>
                                    <div class="pilots__card-info-block">
                                        <div class="pilots__card-info-block-amount">
                                            23
                                        </div>
                                        <div class="pilots__card-info-block-text">
                                            года
                                        </div>
                                    </div>
                                </div>
                                <div class="pilots__card-city">
                                    Санкт-Петербург
                                </div>
                            </div>
                            <div class="pilots__card-description">
                                <p>
                                    Начинающий пилот, автоблогер, автор нашумевшего Youtube-
                                    проекта «Биг Жига» и по совместительству маркетолог компании Trialli. Траектория
                                    стабилизирует твердый волчок. Ньютонометр
                                    не зависит от скорости вращения внутреннего кольца подвеса.
                                </p>
                            </div>
                            <div class="pilots__card-stats">
                                <h2 class="pilots__card-stats-heading">
                                    Статистика
                                </h2>
                                <div class="pilots__card-stats-blocks">


                                    <div class="pilots__card-stats-block">
                                        <div class="pilots__card-stats-block-text">
                                            Место в чемпионате
                                        </div>
                                        <div class="pilots__card-stats-block-amount">
                                            18
                                        </div>
                                    </div>
                                    <div class="pilots__card-stats-block">
                                        <div class="pilots__card-stats-block-text">
                                            Награды
                                        </div>
                                        <img src="img/cup-pilots.png" alt="" class="pilots__card-stats-icon">
                                        <div class="pilots__card-stats-block-amount">
                                            2
                                        </div>
                                    </div>
                                    <div class="pilots__card-stats-block">
                                        <div class="pilots__card-stats-block-text">
                                            Текущее положение
                                        </div>
                                        <div class="pilots__card-stats-block-amount">
                                            46
                                        </div>
                                    </div>
                                    <div class="pilots__card-stats-block">
                                        <div class="pilots__card-stats-block-text">
                                            Всего заездов
                                        </div>
                                        <img src="img/pedstal-pilots.png" alt="" class="pilots__card-stats-icon">
                                        <div class="pilots__card-stats-block-amount">
                                            74
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pilots__card-col">
                            <div class="pilots__card-news">
                                <ul class="pilots__card-news-list">
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-youtube"
                                                    class="pilots__card-news-card-icon">
                                                    <use xlink:href="#youtube"></use>
                                                </svg>
                                                Новобранцы CARVILLE RACING
                                                на подиуме СОЧИ АВТОДРОМА
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                Инженеры из Петербурга придумали, как дать вторую жизнь автомобилю
                                                «Жигули»
                                            </div>
                                        </a>
                                    </li>
                                    <li class="pilots__card-news-list-item">
                                        <a href="#" class="pilots__card-news-card">
                                            <div class="pilots__card-news-card-text">
                                                RDS Запад: Пересел в BMW E46 EUROFIGHTER, Наконец-то починили!
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="pilots__card-car">
                                <img src="img/autopark/cars/car-4-large.jpg" alt="" class="pilots__card-car-image">
                                <div class="pilots__card-car-content">
                                    <h4 class="pilots__card-car-title">
                                        BMW E46
                                        <span>
                                            Eurofighter
                                        </span>
                                    </h4>
                                    <div class="pilots__card-car-specs">
                                        <div class="pilots__card-car-specs-item">
                                            <img src="img/gear.svg" alt="" class="pilots__card-car-specs-item-icon">
                                            7,2 л
                                        </div>
                                        <div class="pilots__card-car-specs-item">
                                            <img src="img/lightning.svg" alt=""
                                                class="pilots__card-car-specs-item-icon">
                                            800 л.с.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</section>

<section class="partners">


    <picture>
        <source srcset="img/partners-mobile.svg" media="(max-width: 640px)">
        <img src="img/footer-bg.svg" alt="MDN" class="partners__bg">
    </picture>
    <div class="container">
        <h2 class="partners__heading">
            Партнёры
        </h2>
        <ul class="partners__list">
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/startvolt.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Генераторы, стартеры
                        и другая автоэлектрика
                    </h4>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/airline.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Автомобильные
                        аксессуары
                    </h4>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/trialli.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Автокомпоненты
                        премиум-класса
                    </h4>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/luzar.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Радиаторы и детали
                        систем охлаждения
                    </h4>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/cr.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Автохимия
                        и технические жидкости
                    </h4>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/dvizhok.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Автомобильный
                        журнал
                    </h4>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/shonx.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Поставки
                        гоночной экипировки
                    </h4>
                </a>
            </li>
        </ul>
    </div>
</section>


{{/content}}
{{/extend}}