{{#extend "layout"}}
{{#content "main"}}


<section class="team">
    <img src="img/team-bg.png" alt="" class="team__bg">
    <div class="container">
        <h1 class="team__heading">
            О дрифт-команде<br>
            Carville Racing
        </h1>
        <div class="team__heading-text">
            <p>
                8 лет мы являемся постоянным участником практически всех крупных соревнований
            </p>
        </div>
        <ul class="team__history-list">
            <li class="team__history-list-item">
                <div class="team__history-card">
                    <div class="team__history-card-amount">
                        2014
                    </div>
                    <div class="team__history-card-text">
                        <p>
                            год основания
                        </p>
                    </div>
                </div>
            </li>
            <li class="team__history-list-item">
                <div class="team__history-card">
                    <div class="team__history-card-amount">
                        84
                    </div>
                    <div class="team__history-card-text">
                        <p>
                            соревнований<br>
                            пройдено
                        </p>
                    </div>
                </div>
            </li>
            <li class="team__history-list-item">
                <div class="team__history-card">
                    <div class="team__history-card-amount">
                        17
                    </div>
                    <div class="team__history-card-text">
                        <p>
                            наград взято
                        </p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="team__top-row">
            <div class="team__top-col">


                <a href="#" class="team__video">
                    <div class="team__video-image-container">
                        <img src="img/team-video-preview.jpg" alt="" class="team__video-image">
                        <svg width="14" height="14" aria-hidden="true" class="icon-play">
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                    <h4 class="team__video-heading">
                        О том, с чего все начиналось
                    </h4>
                </a>
            </div>
            <div class="team__top-col">
                <div class="team__top-text">
                    <p>
                        Дрифт-команда Carville Racing
                        была создана в 2014 году
                        Управляющей Компанией «КАРВИЛЬ», входящей в число лидеров в области реализации автомобильных
                        запчастей
                        и компонентов в России и странах СНГ.
                    </p>
                </div>
            </div>
        </div>
        <div class="team__success-story">
            <h2 class="team__success-story-heading">
                История успеха
            </h2>
            <div class="team__success-story-slider js-success-slider">
                <div class="swiper-container">


                    <ul class="swiper-wrapper team__success-story-list">
                        <li class="swiper-slide team__success-story-list-item">
                            <div class="team__success-story-card">
                                <div class="team__success-story-card-year">
                                    <div class="team__success-story-card-year-date">
                                        2014-2015
                                    </div>
                                    <div class="team__success-story-card-year-text">
                                        года
                                    </div>
                                </div>
                                <div class="team__success-story-card-text">
                                    <p>
                                        Команда успешно
                                        выступала
                                        в классическом ралли
                                    </p>
                                </div>

                            </div>
                        </li>
                        <li class="swiper-slide team__success-story-list-item">
                            <div class="team__success-story-card">
                                <div class="team__success-story-card-year">
                                    <div class="team__success-story-card-year-date">
                                        2016
                                    </div>
                                    <div class="team__success-story-card-year-text">
                                        год
                                    </div>
                                </div>
                                <div class="team__success-story-card-text">
                                    <p>
                                        Участие команды
                                        в Российской серии кольцевых гонок (СМП РСКГ)
                                    </p>
                                    <p>
                                        <b>III место</b> в классе
                                        «Туринг-Лайт»,
                                        пилот Григорий
                                        Бурлуцкий
                                    </p>
                                </div>

                            </div>
                        </li>
                        <li class="swiper-slide team__success-story-list-item">
                            <div class="team__success-story-card">
                                <div class="team__success-story-card-year">
                                    <div class="team__success-story-card-year-date">
                                        2017
                                    </div>
                                    <div class="team__success-story-card-year-text">
                                        год
                                    </div>
                                </div>
                                <div class="team__success-story-card-text">

                                    <p>
                                        <b>II место</b> в командном зачёте, пилоты
                                        Григорий Бурлуцкий
                                        и Андрей Радошнов
                                    </p>
                                </div>

                            </div>
                        </li>
                        <li class="swiper-slide team__success-story-list-item">
                            <div class="team__success-story-card">
                                <div class="team__success-story-card-year">
                                    <div class="team__success-story-card-year-date">
                                        2018
                                    </div>
                                    <div class="team__success-story-card-year-text">
                                        год
                                    </div>
                                </div>
                                <div class="team__success-story-card-text">

                                    <p>
                                        <b>I место</b> в командном зачёте, пилоты
                                        Григорий Бурлуцкий
                                        и Андрей Радошнов
                                    </p>
                                    <p>
                                        <b>I место</b> в личном зачёте, пилот
                                        Григорий Бурлуцкий
                                    </p>
                                </div>

                            </div>
                        </li>
                        <li class="swiper-slide team__success-story-list-item">
                            <div class="team__success-story-card">
                                <div class="team__success-story-card-year">
                                    <div class="team__success-story-card-year-date">
                                        2019
                                    </div>
                                    <div class="team__success-story-card-year-text">
                                        год
                                    </div>
                                </div>
                                <div class="team__success-story-card-text">

                                    <p>
                                        <b>III</b> и <b>VIII место</b>
                                        в личном зачёте, «Туринг», пилоты
                                        Клим Гаврилов
                                        и Григорий Бурлуцкий
                                    </p>
                                    <p>
                                        <b>IV место</b>
                                        в командном зачёте
                                    </p>
                                </div>

                            </div>
                        </li>
                        <li class="swiper-slide team__success-story-list-item">
                            <div class="team__success-story-card">
                                <div class="team__success-story-card-year">
                                    <div class="team__success-story-card-year-date">
                                        2020
                                    </div>
                                    <div class="team__success-story-card-year-text">
                                        год
                                    </div>
                                </div>
                                <div class="team__success-story-card-text">

                                    <p>
                                        <b>III место</b> в классе «Туринг», пилот Григорий Бурлуцкий
                                    </p>
                                    <p>
                                        <b>II место</b>
                                        RDS GP, Кристапс Блушс
                                    </p>
                                </div>

                            </div>
                        </li>
                        <li class="swiper-slide team__success-story-list-item">
                            <div class="team__success-story-card">
                                <div class="team__success-story-card-year">
                                    <div class="team__success-story-card-year-date">
                                        2021
                                    </div>
                                    <div class="team__success-story-card-year-text">
                                        год
                                    </div>
                                </div>
                                <div class="team__success-story-card-text">

                                    <p>
                                        <b>II место</b> в командном зачёте, пилоты
                                        Антон Клямко
                                        и Никита Шиков
                                    <p>
                                        <b>III место</b> в командном зачёте РСКГ, пилот
                                        Григорий Бурлуцкий
                                    </p>
                                </div>

                            </div>
                        </li>
                        <li class="swiper-slide team__success-story-list-item">
                            <div class="team__success-story-card">
                                <div class="team__success-story-card-year">
                                    <div class="team__success-story-card-year-date">
                                        2022
                                    </div>
                                    <div class="team__success-story-card-year-text">
                                        год
                                    </div>
                                </div>
                                <div class="team__success-story-card-text">

                                    <p>
                                        <b>II место</b> в командном зачёте, Sochi Drift Challenge
                                    <p>
                                        Старт нового сезона
                                    </p>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <div class="team__goal">
        <img src="img/team-goal-bg.png" alt="" class="team__goal-bg">
        <div class="container">


            <div class="team__goal-content">


                <div class="team__goal-text">
                    <p>
                        Цель создания команды —
                        содействие популяризации
                        автоспорта в нашей стране, участие
                        в автоспортивных мероприятиях,
                        а также проверка потребительских
                        свойств наших автомобильных
                        комплектующих.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="team__our-pilots">

        <div class="container">
            <div class="team__our-pilots-content">


                <img src="img/team-pilots-bg.png" alt="" class="team__our-pilots-bg">
                <h2 class="team__our-pilots-heading">
                    Наша команда: пилоты
                </h2>
                <div class="team__our-pilots-slider js-team-pilots-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="team__our-pilots-slider-card">
                                    <img src="img/team-pilots/1.png" alt="" class="team__our-pilots-slider-card-image">
                                    <div class="team__our-pilots-slider-card-content">
                                        <div class="team__our-pilots-slider-card-number">
                                            91
                                        </div>
                                        <div class="team__our-pilots-slider-card-name">
                                            Григорий<br>
                                            Бурлуцкий
                                        </div>
                                        <div class="team__our-pilots-slider-card-league">
                                            RDS EUROPE
                                        </div>
                                        <div class="team__our-pilots-slider-card-arrow">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="team__our-pilots-slider-card">
                                    <img src="img/team-pilots/2.png" alt="" class="team__our-pilots-slider-card-image">
                                    <div class="team__our-pilots-slider-card-content">
                                        <div class="team__our-pilots-slider-card-number">
                                            90
                                        </div>
                                        <div class="team__our-pilots-slider-card-name">
                                            Никита<br>
                                            Шиков
                                        </div>
                                        <div class="team__our-pilots-slider-card-league">
                                            RDS GP
                                        </div>
                                        <div class="team__our-pilots-slider-card-arrow">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="team__our-pilots-slider-card">
                                    <img src="img/team-pilots/3.png" alt="" class="team__our-pilots-slider-card-image">
                                    <div class="team__our-pilots-slider-card-content">
                                        <div class="team__our-pilots-slider-card-number">
                                            53
                                        </div>
                                        <div class="team__our-pilots-slider-card-name">
                                            Антон<br>
                                            Клямко
                                        </div>
                                        <div class="team__our-pilots-slider-card-league">
                                            RDS GP
                                        </div>
                                        <div class="team__our-pilots-slider-card-arrow">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="team__our-pilots-slider-card">
                                    <img src="img/team-pilots/4.png" alt="" class="team__our-pilots-slider-card-image">
                                    <div class="team__our-pilots-slider-card-content">
                                        <div class="team__our-pilots-slider-card-number">
                                            95
                                        </div>
                                        <div class="team__our-pilots-slider-card-name">
                                            Николай<br>
                                            Горковенко
                                        </div>
                                        <div class="team__our-pilots-slider-card-league">
                                            RDS GP
                                        </div>
                                        <div class="team__our-pilots-slider-card-arrow">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="team__our-pilots-slider-card">
                                    <img src="img/team-pilots/5.png" alt="" class="team__our-pilots-slider-card-image">
                                    <div class="team__our-pilots-slider-card-content">
                                        <div class="team__our-pilots-slider-card-number">
                                            95
                                        </div>
                                        <div class="team__our-pilots-slider-card-name">
                                            Иван<br>
                                            Пальмин
                                        </div>
                                        <div class="team__our-pilots-slider-card-league">
                                            RDS Europe
                                        </div>
                                        <div class="team__our-pilots-slider-card-arrow">
                                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team__tech-specs">
        <div class="container">
            <h2 class="team__tech-specs-heading">
                Технические специалисты
            </h2>
            <ul class="team__tech-specs-list">
                <li class="team__tech-specs-list-item">
                    <div class="team__tech-specs-card">
                        <img src="img/tech/1.png" alt="" class="team__tech-specs-card-image">
                        <h4 class="team__tech-specs-card-title">
                            Владимир
                            Воронов
                        </h4>
                        <div class="team__tech-specs-card-text">
                            <p>
                                Основатель
                                Voronov Racing
                                center
                            </p>
                            <p>
                                Руководитель
                                команды,
                                выступающей
                                в чемпионате
                                RDS Europe
                            </p>
                        </div>
                    </div>
                </li>
                <li class="team__tech-specs-list-item">
                    <div class="team__tech-specs-card">
                        <img src="img/tech/2.png" alt="" class="team__tech-specs-card-image">
                        <h4 class="team__tech-specs-card-title">
                            Алина
                            Уткина
                        </h4>
                        <div class="team__tech-specs-card-text">
                            <p>
                                Медиа-менеджер
                                команды
                            </p>

                        </div>
                    </div>
                </li>
                <li class="team__tech-specs-list-item">
                    <div class="team__tech-specs-card">
                        <img src="img/tech/3.png" alt="" class="team__tech-specs-card-image">
                        <h4 class="team__tech-specs-card-title">
                            Степан
                            Земцев
                        </h4>
                        <div class="team__tech-specs-card-text">
                            <p>
                                Руководитель
                                команды,
                                выступающей
                                в чемпионате
                                RDS GP
                            </p>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="team__awards js-success-slider">
        <div class="container">
            <h2 class="team__awards-heading">
                Награды
            </h2>
            <div class="team__awards-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="team__awards-slider-card">
                                <div class="team__awards-slider-card-image-container">


                                    <img src="img/awards/1.jpg" alt="" class="team__awards-slider-card-image">
                                </div>
                                <h4 class="team__awards-slider-card-name">
                                    I место
                                    Командный зачёт
                                </h4>
                                <div class="team__awards-slider-card-text">
                                    <p>
                                        Чемпионат России 2018 по Кольцевым Гонкам
                                        Автодром «Moscow Raceway»
                                        класс «Туринг»
                                        11 августа 2018
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="team__awards-slider-card">
                                <div class="team__awards-slider-card-image-container">


                                    <img src="img/awards/2.jpg" alt="" class="team__awards-slider-card-image">
                                </div>
                                <h4 class="team__awards-slider-card-name">
                                    Команда
                                    Бронзовый призёр
                                </h4>
                                <div class="team__awards-slider-card-text">
                                    <p>
                                        Чемпионата России 2021
                                        по автомобильным кольцевым гонкам
                                        класс «Туринг»
                                        Российская серия кольцевых гонок
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="team__awards-slider-card">
                                <div class="team__awards-slider-card-image-container">


                                    <img src="img/awards/3.jpg" alt="" class="team__awards-slider-card-image">
                                </div>
                                <h4 class="team__awards-slider-card-name">
                                    Команда
                                    Серебряный призёр
                                </h4>
                                <div class="team__awards-slider-card-text">
                                    <p>
                                        Чемпионата России 2017
                                        по автомобильным кольцевым гонкам
                                        класс «Туринг-Лайт»
                                        Российская серия кольцевых гонок

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="team__awards-slider-card">
                                <div class="team__awards-slider-card-image-container">


                                    <img src="img/awards/4.jpg" alt="" class="team__awards-slider-card-image">
                                </div>
                                <h4 class="team__awards-slider-card-name">
                                    Победитель
                                </h4>
                                <div class="team__awards-slider-card-text">
                                    <p>
                                        Чемпионата России 2018
                                        по автомобильным кольцевым гонкам
                                        класс «Туринг-Лайт»
                                        Российская серия кольцевых гонок

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="partners">


    <picture>
        <source srcset="img/partners-mobile.svg" media="(max-width: 640px)">
        <img src="img/footer-bg.svg" alt="MDN" class="partners__bg">
    </picture>
    <div class="container">
        <h2 class="partners__heading">
            Партнёры
        </h2>
        <ul class="partners__list">
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/startvolt.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Генераторы, стартеры
                        и другая автоэлектрика
                    </h4>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/airline.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Автомобильные
                        аксессуары
                    </h4>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/trialli.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Автокомпоненты
                        премиум-класса
                    </h4>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/luzar.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Радиаторы и детали
                        систем охлаждения
                    </h4>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/cr.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Автохимия
                        и технические жидкости
                    </h4>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/dvizhok.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Автомобильный
                        журнал
                    </h4>
                </a>
            </li>
            <li class="partners__list-item">
                <a href="#" class="partners__card">
                    <img data-src="img/partners/shonx.svg" alt="" class="partners__card-logo lazyload">
                    <h4 class="partners__card-title">
                        Поставки
                        гоночной экипировки
                    </h4>
                </a>
            </li>
        </ul>
    </div>
</section>


{{/content}}
{{/extend}}