.breadcrumbs {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.2;

    @include breakpoint(mobile) {
        font-size: 1.8rem;
    }
    svg {
        fill: currentColor;
        width: .9rem;
        height: .9rem;
        flex-shrink: 0;
        margin-bottom: 0.3rem;

        @include breakpoint(mobile) {
            margin-bottom: 0.5rem;
        }
    }
}