.pilots {
    position: relative;
    z-index: 1;
    padding-top: 8.5rem;
    padding-bottom: 22rem;

    @include breakpoint(mobile) {
        padding: 4rem 0;
        padding-bottom: 9rem;
    }
}

.pilots__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    pointer-events: none;

    @include breakpoint(mobile) {
        left: 50%;
        width: 190%;
        transform: translateX(-50%);
        max-width: none;
    }
}

.pilots__heading {
    font-weight: 600;
    font-size: 5.5rem;
    line-height: 1.2;
    margin-bottom: 3.5rem;
    color: white;

    @include breakpoint(mobile) {
        font-size: 4.3rem;
        line-height: 4.8rem;
        margin-bottom: 1rem;
        margin-bottom: 3rem;
        br {
            display: none;
        }
    }
}

.pilots__info-row {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 6rem;
    color: white;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
        flex-direction: column;
        align-items: stretch;
    }
}

.pilots__heading-text {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3.4rem;
    max-width: 42rem;
    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 1.2;
    }
}

.pilots__telegram-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 1.2;
    gap: 1.5rem;
    padding: 1.2rem 2.2rem;
    border-radius: 3rem;
    border: 1px solid white;
    color: white;
    transition: color 0.2s, border-color 0.2s, background-color 0.2s;

    @include breakpoint(mobile) {
        align-self: flex-start;
    }
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: white;
        color: var(--primary-color);
    }
    svg {
        flex-shrink: 0;
        fill: currentColor;
        width: 3rem;
        height: 3rem;
    }
}

.pilots__list {
    display: flex;
    flex-direction: column;
    gap: 6rem;

    @include breakpoint(mobile) {
        gap: 3rem;
    }
}

.pilots__card {
    background-color: #fff;
    padding: 4rem;
    border-radius: 3rem;
    color: black;
    position: relative;
    z-index: 1;

    @include breakpoint(mobile) {
        padding: 3rem;
        padding-bottom: 30rem;
    }
}

.pilots__card-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: 3.5rem;
    }
}

.pilots__card-col {
    display: flex;
    flex-direction: column;
    @include breakpointMF(small-tablet) {
        &:nth-child(1) {
            width: 50%;
            flex-grow: 1;
            padding-right: 4rem;
        }
        &:nth-child(2) {
            width: 37rem;
        }
    }
}

.pilots__card-title {
    font-weight: 600;
    font-size: 4.5rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;

    @include breakpoint(mobile) {
        font-size: 3.8rem;
        margin-bottom: 2rem;
    }

   
}

.pilots__card-top-row {
    display: flex;
    align-items: center;
    gap: 3.5rem;
    margin-bottom: 2rem;

    @include breakpoint(mobile) {
        gap: 2rem;
    }
}

.pilots__card-rds {
    flex-shrink: 0;
}

.pilots__card-rds-image {
    width: 7.6rem;
    height: auto;
    display: block;

    @include breakpoint(mobile) {
        width: 5rem;
    }
}

.pilots__card-instagram {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.2;
    gap: 0.8rem;
    color: #9a9d9d;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
    }

    &:link,
    &:visited {
        color: #9a9d9d;
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }
    svg {
        flex-shrink: 0;
        width: 2.4rem;
        height: 2.4rem;
        fill: currentColor;

        @include breakpoint(mobile) {
            width: 2rem;
            height: 2rem;
        }
    }
}

.pilots__card-medium-row {
    display: flex;
    align-items: baseline;
    gap: 3.5rem;
    margin-bottom: 3.5rem;
    row-gap: 1.5rem;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 3rem;
    }
}

.pilots__card-info {
    display: flex;
    align-items: baseline;
    gap: 3.5rem;
}

.pilots__card-info-block {
    display: flex;
    align-items: baseline;
    gap: 0.8rem;
}

.pilots__card-info-block-amount {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2;
}

.pilots__card-info-block-text {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.2;
}

.pilots__card-city {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
    }
}

.pilots__card-description {
    font-size: 1.7rem;
    line-height: 3rem;
    margin-bottom: 3.5rem;
    font-weight: 500;
    max-width: 50rem;
}

.pilots__card-stats-heading {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.pilots__card-stats-blocks {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 40rem;
    width: 100%;
    grid-column-gap: 3rem;
}

.pilots__card-stats-block {
    display: flex;
    align-items: baseline;
    padding: 0.8rem 0;
    border-bottom: 1px solid #e8e9e9;
    gap: 0.8rem;
}

.pilots__card-stats-block-text {
    width: 50%;
    flex-grow: 1;
    font-size: 1.5rem;
    font-weight: 500;
    color: #4c4c4c;
}

.pilots__card-stats-heading {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.pilots__card-stats-block-amount {
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 1.2;
}

.pilots__card-stats-icon {
    height: 1.5rem;
    width: auto;
    flex-shrink: 0;
    position: relative;
    align-self: center;
    bottom: 0.05rem;
}

.pilots__card-news-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.pilots__card-news-card {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;

    .no-touch &:hover,
    .touch &:active {
        color: var(--primary-color);
    }

    img,
    svg {
        display: inline-block;
        width: 2rem;
        height: 1.5rem;
        vertical-align: middle;
        position: relative;
        bottom: 0.1rem;
        object-fit: contain;
        fill: currentColor;
    }
}

.pilots__card-news {
    max-height: 18rem;
    padding-right: 2rem;
    overflow-x: hidden;
    margin-bottom: 3.5rem;
    -webkit-overflow-scrolling: touch;

    @include breakpoint(mobile) {
        display: none;
    }

    &::-webkit-scrollbar {
        background-color: white;
        width: 0.6rem;
        border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
        border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-track {
        background-color: #f5f5f5;
    }
}

.pilots__card-photo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    max-height: 51rem;
    margin-left: 10rem;
    height: 100%;
    width: auto;
    object-fit: contain;
    object-position: center bottom;
    z-index: -1;

    @include breakpoint(mobile) {
        height: 30rem;
        width: 100%;
        transform: none;
        left: 0;
        bottom: 0;
        margin: 0;
    }
}

.pilots__card-number {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: 600;
    font-size: 27rem;
    line-height: 1;
    z-index: -1;
    top: -1rem;
    margin-left: -10rem;
    color: #f1f1f1;

    @include breakpoint(mobile) {
        font-size: 15rem;
        margin: 0;
        bottom: 18rem;
        top: auto;
        margin-left: -10rem;
    }
}

.pilots__card-car {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    position: relative;
    z-index: 1;
    color: white;
    border-radius: 2rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);

    @include breakpoint(mobile) {
        display: none;
    }

    &:link,
    &:visited {
        color: white;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 70%;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

.pilots__card-car-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.pilots__card-car-content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.pilots__card-car-title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.2;

    span {
        display: block;
        font-weight: 600;
        font-size: 1.7rem;
        line-height: 1.2;
        padding-left: 0.6rem;
    }
}

.pilots__card-car-specs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: auto;
}

.pilots__card-car-specs-item {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.2;
}

.pilots__card-car-specs-item-icon {
    width: 1.4rem;
    height: 1.4rem;
    flex-shrink: 0;
    object-fit: contain;
}
