.schedule {
    margin-bottom: 13rem;
    padding-top: 9rem;
    position: relative;
    z-index: 1;
    color: white;

    @include breakpoint(mobile) {
        padding-top: 7rem;
        margin-bottom: 14rem;
    }
}
.schedule__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    pointer-events: none;
}

.schedule__top-row {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 2rem;
        grid-template-areas: 'heading heading' 'watch categories';
        margin-bottom: 4rem;
    }
}

.schedule__heading {
    font-size: 2.9rem;
    font-weight: 600;
    line-height: 1.2;
    margin-right: 2.7rem;

    @include breakpoint(mobile) {
        font-size: 3rem;
        line-height: 1.2;
        margin: 0;
        grid-area: heading;
    }
}

.schedule__watch-link {
    display: inline-flex;
    align-items: center;
    padding: 1.2rem 2.9rem;
    border: 0.2rem solid white;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 1.2;
    flex-shrink: 0;
    margin-right: 3rem;
    border-radius: 3rem;
    transition: border-color .2s, background-color .2s, color .2s;

    .no-touch &:hover,
    .touch &:active {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        color: white;
    }

    @include breakpoint(mobile) {
        font-size: 2.1rem;
        line-height: 1.2;
        padding: 1.1rem 2rem;
        margin: 0;
        grid-area: watch;
        justify-self: flex-start;
    }
}

.schedule__tabs-nav {
    margin-left: auto;
    margin-right: 4rem;

    @include breakpoint(mobile) {
        margin: 0;
        align-self: flex-end;
        position: relative;
    }
}

.schedule__tabs-nav-dropdown {
    @include breakpoint(mobile) {
        position: absolute;
        right: 0;
        top: 100%;
        width: max-content;
        padding-top: 1rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0s linear 0.3s;
        z-index: 60;

        .mobile-dropdown-shown & {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }
}

.schedule__tabs-nav-dropdown-inner {
    display: flex;
    align-items: center;
    gap: 4rem;

    @include breakpoint(mobile) {
        margin: 0;
        gap: 3rem;
        margin: 0;
        background-color: #fff;
        border-radius: 2rem;
        flex-direction: column;
        align-items: stretch;
        color: black;
        padding: 1.6rem;
        gap: 2rem;
    }
}

.schedule__tabs-nav-link {
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 1.2;
    color: rgba(white, 0.5);
    text-transform: uppercase;
    &:link,
    &:visited {
        color: rgba(white, 0.5);
    }

    .no-touch &:not(.active):hover,
    .touch &:not(.active):active {
        color: rgba(white, 0.7);
    }

    &.active {
        color: white;
    }

    @include breakpoint(mobile) {
        font-size: 2.1rem;
        line-height: 1.2;
        color: rgba(black, 0.5);
        transition: color .2s, opacity .2s;
        &:link,
        &:visited {
            color: rgba(black, 0.5);
        }

        &.active {
            color: black;
        }
    }
}

.schedule__arrows {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    flex-shrink: 0;
    gap: 2.5rem;

    @include breakpoint(mobile) {
        display: none;
    }
}

.schedule__arrow {
    flex-shrink: 0;
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
        width: 1.2rem;
        height: 1.8rem;
        fill: white;
        transition: fill 0.2s;
    }

    &.swiper-button-disabled {
        cursor: default;
        pointer-events: none;

        svg {
            fill: rgba(white, 0.5);
        }
    }

    .no-touch &:not(.swiper-button-disabled):hover {
        svg {
            fill: var(--primary-color);
        }
    }
}

.schedule__tab-items {
    position: relative;
}

.schedule__tab-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 5;
    transition: opacity 0.4s ease, visibility 0.4s ease 0.4s;
    opacity: 0;
    visibility: hidden;
    &.active {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
        position: relative;
        z-index: 10;
    }
}

.schedule__slider {
    .swiper-container {
        overflow: visible;
    }

    .swiper-slide {
        width: 20%;
        @include breakpoint(mobile) {
            width: 25rem;
        }
    }
}

.schedule__slider-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #fff;
    padding: 3.5rem;
    border-radius: 3rem;
    min-height: 40rem;
    color: black;
    transition: box-shadow 0.2s;

    @include breakpoint(mobile) {
    }

    &--past {
        opacity: 0.5;
    }

    &:link,
    &:visited {
        color: black;
    }

    .no-touch &:hover,
    .touch &:active {
        box-shadow: 0 1.4rem 5rem rgba(254, 97, 0, 0.7);
    }
}

.schedule__slider-card-top-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.schedule__slider-card-logo {
    width: 8rem;
    height: auto;
    flex-shrink: 0;
    margin-right: 2rem;
}

.schedule__slider-card-stage {
    display: flex;
    flex-direction: column;
}

.schedule__slider-card-stage-steps {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    margin-bottom: 1rem;
}

.schedule__slider-card-stage-step {
    width: 1rem;
    height: 0.5rem;
    background-color: #ccd1d1;
    flex-shrink: 0;

    &:first-child {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }
    &:last-child {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    &--filled {
        background-color: #20232b;
    }
}

.schedule__slider-card-stage-text {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.2;
}

.schedule__slider-card-info {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 1.5rem;
    margin-top: auto;
}

.schedule__slider-card-info-item {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.6rem;
}

.schedule__slider-card-info-item-icon {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    flex-shrink: 0;
    margin-right: 1rem;
}

.schedule__slider-card-pilot {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.schedule__slider-card-pilot-stats {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    justify-content: flex-start;
}

.schedule__slider-card-pilot-stats-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #e0e0e0;
    padding: 0.4rem 0.8rem;
    border-radius: 1.2rem;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 500;
    color: black;
}

.schedule__slider-card-pilots {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    &--column {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: stretch;
    }
}

.schedule__slider-card-pilot-image {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;
}

.schedule__slider-card-date {
    font-weight: 600;
    font-size: 4.4rem;
    line-height: 1;
}

.schedule__tabs-nav-mobile-btn {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    background-color: #1a1a14;
    font-size: 2.1rem;
    line-height: 1.2;
    padding: 1.1rem 2rem;
    border: 0.2rem solid #1a1a14;
    color: #565656;
    font-weight: 700;
    border-radius: 3rem;
    svg {
        width: 1.4rem;
        height: 0.7rem;
        fill: currentColor;
        flex-shrink: 0;
        margin-left: 1.5rem;
        transition: transform 0.2s;
        margin-top: 0.2rem;
    }

    @include breakpointMF(small-tablet) {
        display: none;
    }
}
